@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Love+Light&family=Martel+Sans&family=Merriweather&family=Montserrat&family=Open+Sans&family=Playfair+Display&family=Ubuntu&family=Varela+Round&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Rubik", sans-serif;
  background: white;
}
